node_modules

# dependencies, yarn, etc
# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.DS_Store
.vscode
.idea
.vercel
packages/hardhat/deployments/optimismSepolia/.chainId
packages/hardhat/deployments/optimismSepolia/DappRaterSchemaResolver.json
packages/hardhat/deployments/optimismSepolia/solcInputs/d415057fd74441cb9f9f26ddb0159806.json
